.karmabysub-title h2 {
    width: 45rem;
    max-width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid white;
}

.karmabysub-container {
    width: 60rem;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: rgb(236, 236, 236);
    color: black;
}